<nz-breadcrumb>
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>Customer</nz-breadcrumb-item>
  <nz-breadcrumb-item>History</nz-breadcrumb-item>
</nz-breadcrumb>
<h3 [ngStyle]="{ margin: '16px 0' }">历史订单</h3>
<nz-collapse [nzBordered]="false">
  <nz-collapse-panel *ngFor="let item of list let i =index" [nzHeader]="item.hotelName">
    <nz-descriptions [nzTitle]=item.hotelName>
      <nz-descriptions-item nzTitle="用户名">{{item.username}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="商家联系电话" [nzSpan]="2">{{item.phone}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="订单日期">{{item.orderTime}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="价格">{{item.payment}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="房间号">
        {{item.roomNumber}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="评论" [nzSpan]="3" *ngIf="item.content">
        <nz-comment [nzAuthor]=item.username [nzDatetime]="timeTql">
          <nz-comment-content>
            <p>
              {{item.content}}
            </p>
          </nz-comment-content>
        </nz-comment>
        <ng-template #timeTql>
          <nz-rate [ngModel]=item.rating nzDisabled></nz-rate>
          <span>  {{item.commentTime}}</span>
        </ng-template>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="评论" [nzSpan]="3" *ngIf="!item.content">
        <nz-comment>
          <nz-comment-content>
            评分：<nz-rate [(ngModel)]="rating" nzAllowHalf></nz-rate>
            <nz-form-item>
              <textarea [(ngModel)]="inputValue" nz-input rows="4" cols="200"></textarea>
            </nz-form-item>
            <nz-form-item>
              <button nz-button nzType="primary" [disabled]="!inputValue||rating==0" (click)="handleSubmit(i)">
                提交评论
              </button>
            </nz-form-item>
          </nz-comment-content>
        </nz-comment>
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-collapse-panel>
</nz-collapse>
