<nz-breadcrumb>
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>Admin</nz-breadcrumb-item>
  <nz-breadcrumb-item>Hotel</nz-breadcrumb-item>
</nz-breadcrumb>
<br>
<br>
<div class="search-result" *ngIf="total==0">
  <nz-empty
    [nzNotFoundContent]="contentTpl"
  >
    <ng-template #contentTpl>
      <span> 暂时没有记录，请稍后重试或者查看数据库 </span>
    </ng-template>
  </nz-empty>
</div>
<div class="search-result" *ngIf="total!=0">
  <ul nz-list [nzDataSource]="List" nzBordered nzSize="large">
    <nz-list-header>全部商家</nz-list-header>
    <li nz-list-item *ngFor="let item of hotelList let i = index" nzNoFlex>
      <nz-descriptions nzTitle="{{item.hotelName}}(ID:{{item.hotelId}})"  [nzExtra]="extraCustomerTpl">
        <nz-descriptions-item nzTitle="手机号">{{item.phone}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="地址">{{item.address}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="评分"><nz-rate [ngModel]=item.rating nzDisabled></nz-rate></nz-descriptions-item>
        <nz-descriptions-item nzTitle="介绍" [nzSpan]="3">{{item.introduction}}</nz-descriptions-item>
      </nz-descriptions>
      <ng-template #extraCustomerTpl>
        <a (click)="deleteSeller(item.hotelId,i)">删除</a>
      </ng-template>
    </li>
  </ul>
</div>
<div class="box" *ngIf="total!=0">
  <nz-pagination [(nzPageIndex)]="pageIndex" [nzTotal]="total" [(nzPageSize)]="pageSize" (nzPageIndexChange)="changePage()"></nz-pagination>
</div>
