<nz-layout>
    <nz-header>
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item routerLink="/auth/customer-login">用户登陆</li>
        <li nz-menu-item routerLink="/auth/customer-register">用户注册</li>
        <li nz-menu-item routerLink="/auth/merchant-login">商家登录</li>
        <li nz-menu-item routerLink="/auth/merchant-register"><a>商家注册</a></li>
      </ul>
    </nz-header>
    <nz-content class="inner-content"><router-outlet></router-outlet></nz-content>
    <nz-footer>Online Hotel System ©2020 Design By All-out Team</nz-footer>
  </nz-layout>
