<nz-breadcrumb>
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>Admin</nz-breadcrumb-item>
  <nz-breadcrumb-item>Customer</nz-breadcrumb-item>
  <nz-breadcrumb-item>Detail</nz-breadcrumb-item>
</nz-breadcrumb>
<br>
<nz-descriptions [nzTitle]=header [nzExtra]="extraTpl">
</nz-descriptions>
<ng-template #extraTpl>
  <button nz-button nzType="default" (click)="deleteUser()">删除用户</button>
</ng-template>
<nz-tabset>
  <nz-tab nzTitle="订单记录">
    <div class="order-box">
      <nz-collapse [nzBordered]="false">
        <nz-collapse-panel *ngFor="let item of orders let i = index" nzHeader="订单详情">
          <nz-descriptions nzTitle="订单ID:{{item.orderId}}" [nzExtra]="extraOrderTpl">
            <nz-descriptions-item nzTitle="酒店名">{{item.hotelName}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="房间ID">{{item.roomId}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="房间名">{{item.roomTypeName}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="房间号">{{item.roomNumber}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="价格">{{item.payment}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="订单日期">{{ordersTime[i]}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="订单状态" *ngIf="item.status==0">
              未支付
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="订单状态" *ngIf="item.status==1">
              已支付但未居住
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="订单状态" *ngIf="item.status==2">
              已入住
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="订单状态" *ngIf="item.status==3">
              已退房但未评论
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="订单状态" *ngIf="item.status==4">
              已评论
            </nz-descriptions-item>
          </nz-descriptions>
          <ng-template #extraOrderTpl>
            <button nz-button nzType="default" (click)="deleteOrder(item.orderId,i)">删除订单</button>
          </ng-template>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </nz-tab>
  <nz-tab nzTitle="评论记录">
    <nz-list>
      <nz-list-item *ngFor="let item of comments let idx = index">
        <ng-container>
          <nz-list-item-meta
            nzDescription="用户ID:{{item.user_id}} 于 {{commentsTime[idx]}} 完成的订单"
          >
            <nz-list-item-meta-title>
              <nz-rate [ngModel]=item.rating nzDisabled></nz-rate><br>
              {{item.content}}
            </nz-list-item-meta-title>
          </nz-list-item-meta>
          <ul nz-list-item-actions>
            <nz-list-item-action><a (click)="deleteComment(item.comment_id,idx)">删除评论</a></nz-list-item-action>
          </ul>
        </ng-container>
      </nz-list-item>
    </nz-list>
  </nz-tab>
</nz-tabset>
