<nz-breadcrumb>
  <nz-breadcrumb-item>Home</nz-breadcrumb-item>
  <nz-breadcrumb-item>Admin</nz-breadcrumb-item>
  <nz-breadcrumb-item>Customer</nz-breadcrumb-item>
</nz-breadcrumb>
<br>
<div class="search-result" *ngIf="total==0">
  <nz-empty
    [nzNotFoundContent]="contentTpl"
  >
    <ng-template #contentTpl>
      <span> 暂时没有记录，请稍后重试或者查看数据库 </span>
    </ng-template>
  </nz-empty>
</div>
<div class="search-result" *ngIf="total!=0">
  <ul nz-list [nzDataSource]="customerList" nzBordered nzSize="large">
    <nz-list-header>全部顾客</nz-list-header>
    <li nz-list-item *ngFor="let item of customerList let i = index" nzNoFlex>
      <nz-descriptions nzTitle="{{item.username}}(ID:{{item.userId}})"  [nzExtra]="extraCustomerTpl">
        <nz-descriptions-item nzTitle="手机号">{{item.phone}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="性别">{{item.gender}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="余额">{{item.account}}</nz-descriptions-item>
      </nz-descriptions>
      <ng-template #extraCustomerTpl>
        <a [routerLink]="['/admin/customer/detail',item.userId]">查看</a>
      </ng-template>
    </li>
  </ul>
</div>
<div class="box" *ngIf="total!=0">
  <nz-pagination [(nzPageIndex)]="pageIndex" [nzTotal]="total" [(nzPageSize)]="pageSize" (nzPageIndexChange)="changePage()"></nz-pagination>
</div>
