.login-form {
  margin: auto;
  max-width: 300px;
}
.login-form::after{
  clear: both;
}
.login-form-margin {
  margin-bottom: 16px;
}

.login-form-right {
  float: right;
}

.login-form-button {
  width: 100%;
}
.container{
  margin: 0 auto;
  width: 100%;
  height: 575px;
  background-image: url("../../../../assets/img/easy.jpg");
  background-size:100%;
}
#middle{
  border: solid 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  padding: 10px;
  background-color: #fff;
  min-width: 350px;
}
