<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fudan.onlinehotelbooking.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="edu.fudan.onlinehotelbooking.entity.Comment">
        <id column="comment_id" jdbcType="INTEGER" property="comment_id" />
        <result column="content" jdbcType="LONGVARCHAR" property="content" />
        <result column="rating" jdbcType="DOUBLE" property="rating" />
        <result column="user_id" jdbcType="INTEGER" property="user_id" />
        <result column="order_id" jdbcType="INTEGER" property="order_id" />
        <result column="time" property="time" />
    </resultMap>
    <select id="selectByOrderId" resultType="edu.fudan.onlinehotelbooking.entity.Comment">
        select * from comments where order_id = #{orderId}
    </select>
    <select id="findCommentsByHotelId" resultType="edu.fudan.onlinehotelbooking.entity.CommentResponse">
        select content, rating, comments.time as time, comments.user_id as userId, room_id as roomId
        from comments, orders where comments.order_id = orders.order_id and hotel_id = #{hotelId}
    </select>
</mapper>
