<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fudan.onlinehotelbooking.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="edu.fudan.onlinehotelbooking.entity.Comment">
        <id column="comment_id" jdbcType="INTEGER" property="comment_id" />
        <result column="content" jdbcType="LONGVARCHAR" property="content" />
        <result column="rating" jdbcType="DECIMAL" property="rating" />
        <result column="user_id" jdbcType="INTEGER" property="user_id" />
        <result column="order_id" jdbcType="INTEGER" property="order_id" />
        <result column="time" jdbcType="DATE" property="time" />
    </resultMap>
</mapper>
