<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fudan.onlinehotelbooking.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="edu.fudan.onlinehotelbooking.entity.Order">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_id" jdbcType="INTEGER" property="order_id" />
    <result column="room_id" jdbcType="INTEGER" property="room_id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="time" property="time" />
    <result column="payment" jdbcType="DOUBLE" property="payment" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="hotel_id" jdbcType="INTEGER" property="hotel_id" />
  </resultMap>
    <select id="selectByUserId" resultType="edu.fudan.onlinehotelbooking.entity.Order">
      select * from orders where user_id = #{userId}
    </select>
    <select id="selectByHotelId" resultType="edu.fudan.onlinehotelbooking.entity.Order">
      select * from orders where hotel_id = #{hotelId}
    </select>
    <select id="selectByHotelIdAndUserId" resultType="edu.fudan.onlinehotelbooking.entity.OrderAndInformation">
      select  payment, time, status, customer.gender as gender, order_id as orderId, room_id as roomId, customer.username as username, customer.phone as phone
        from customer left join orders on customer.user_id = orders.user_id and orders.hotel_id = #{hotelId} where orders.user_id = #{userId} and orders.status=0 or orders.status=1
    </select>
</mapper>
