<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fudan.onlinehotelbooking.mapper.RoomTypeMapper">
  <resultMap id="BaseResultMap" type="edu.fudan.onlinehotelbooking.entity.RoomType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="hotel_id" jdbcType="INTEGER" property="hotelId" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="introduction" jdbcType="LONGVARCHAR" property="introduction" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="free_number" jdbcType="INTEGER" property="freeNumber" />
  </resultMap>
    <select id="selectByHotelId" resultType="edu.fudan.onlinehotelbooking.entity.RoomType">
        select hotel_id as hotelId, price, photo, number, name, introduction, type_id as typeId,
               free_number as freeNumber from room_type where hotel_id = #{hotelId}
    </select>
</mapper>
